<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="css/estrutura.css" rel="stylesheet" type="text/css" />
    <link href="css/cadastrodeclientes.css" rel="stylesheet" type="text/css" />
    <link href="css/validador.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/validador.js"></script>
    <script src="js/CampoVazio.js"></script>
    <title>Cadastro de cliente</title>
</head>
<header>
    <p>Instituto Roberto Mateus > Clientes > Cadastro de cliente</p>

    <div th:replace="~{inicio :: header}"></div>

</header>
<body>

    <section th:replace="~{inicio :: menu}"></section>
    
    <form id="formulario" th:object="${cliente}" th:action="@{/createcliente}" method="post">
        <div th:fragment="formulario">
            <div id="marg">
                <div class="l1 col-12 d-flex" >
                    <h1>Cadastro de clientes</h1>
                </div>
                <div class="l2 col-12 d-flex espc">
                    <h2 class="col-10">Dados pessoais</h2>
                    <p class="col-2"><span style="color: #f17d02;">*</span> Campos obrigatorios</p>
                </div>
                <div class="l3 col-12 d-flex espc">
                    <div class="col-2 espl">
                        <label for="exampleFormControlInput1" class="form-label">CPF<span style="color: #f17d02;">*</span><span id="cpfinvalido">Inválido</span><span id="cpfvalidado">Válido!</span></label>
                        <input type="text" class="form-control" id="cpf" maxlength="11" th:field="*{cpf}" required>
                    </div>
                    <div class="col-8 ">
                        <label for="exampleFormControlInput1" class="form-label">Nome completo <span id="nomeinvalido">Inválido</span><span id="nomevalidado">Válido!</span> <span style="color: #f17d02;">*</span></label>
                        <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
                    </div>
                </div>
                <div class="l4 col-12 d-flex espc">
                    <div class="col-2 espl">
                        <label for="exampleFormControlInput1" class="form-label">RG</label>
                        <input type="text" class="form-control" th:field="*{rg}">
                    </div>
                    <div class="col-1 esplp">
                        <label for="exampleFormControlInput1" class="form-label">UF</label>
                        <select class="form-select" th:field="*{uf_rg}">
                            <option value="Acre" th:value="'AC'">AC</option>
                            <option value="Alagoas" th:value="'AL'">AL</option>
                            <option value="Amapa" th:value="'AP'">AP</option>
                            <option value="Amazonas" th:value="'AM'">AM</option>
                            <option value="Bahia" th:value="'BA'">BA</option>
                            <option value="Ceará" th:value="'CE'">CE</option>
                            <option value="Distritofederal" th:value="'DF'">DF</option>
                            <option value="Espiritosanto" th:value="'ES'">ES</option>
                            <option value="Goias" th:value="'GO'">GO</option>
                            <option value="Maranhao" th:value="'MA'">MA</option>
                            <option value="Matogrosso" th:value="'MT'">MT</option>
                            <option value="Matogrossosul" th:value="'MS'">MS</option>
                            <option value="Minasgerais" th:value="'MG'">MG</option>
                            <option value="Para" th:value="'PA'">PA</option>
                            <option value="Paraiba" th:value="'PB'">PB</option>
                            <option value="Parana" th:value="'PR'">PR</option>
                            <option value="Pernambuco" th:value="'PE'">PE</option>
                            <option value="Piai" th:value="'PI'">PI</option>
                            <option value="Riodejaneiro" th:value="'RJ'">RJ</option>
                            <option value="Riograndenorte" th:value="'RN'">RN</option>
                            <option value="Riograndesul" th:value="'RS'">RS</option>
                            <option value="Rondonia" th:value="'RO'">RO</option>
                            <option value="Roraima" th:value="'RR'">RR</option>
                            <option value="Santacatarina" th:value="'SC'">SC</option>
                            <option value="Saopaulo" th:value="'SP'">SP</option>
                            <option value="Sergipe" th:value="'SE'">SE</option>
                            <option value="Tocantins" th:value="'TO'">TO</option>
                        </select>
                    </div>
                    <div class="col-2 espl">
                        <label for="exampleFormControlInput1" class="form-label">Órgão emissor</label>
                        <input type="text" class="form-control" th:field="*{orgao_emissor}">
                    </div>
                    <div class="col-2 espl">
                        <label class="form-label">Data de nascimento <span style="color: #f17d02;">*</span></label>
                        <input type="date" class="form-control" th:field="*{data_nascimento}">
                    </div>
                    <div class="col-4">
                        <label class="form-label">Gênero<span style="color: #f17d02;">*</span></label>
                        <div class="opgenero">
                            <div class="form-check gesp">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" th:field="*{genero}" th:value="'M'">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Masculino
                                </label>
                            </div>
                            <div class="form-check gesp">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"  th:field="*{genero}" th:value="'F'">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Feminino
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked th:field="*{genero}" th:value="'NI'">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Não informar
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l5 col-12 d-flex espc">
                    <h2 class="col-10">Dados de contato</h2>
                </div>
                <div class="l6 col-12 d-flex espc">
                    <div class="col-10 espl">
                        <label for="exampleFormControlInput1" class="form-label">Endereço de email</label>
                        <input type="text" class="form-control" th:field="*{email}">
                    </div>
                </div>
                <div class="l7 col-12 d-flex espc">
                    <div class="col-3 espl">
                        <label for="exampleFormControlInput1" class="form-label">Telefone <span style="color: #f17d02;">*</span></label>
                        <input type="text" class="form-control" th:field="*{telefone}" required>
                    </div>
                    <div class="col-3 espl">
                        <label for="exampleFormControlInput1" class="form-label">Telefone secundário</label>
                        <input type="text" class="form-control" th:field="*{telefone_secundario}">
                    </div>
                </div>
                <div class="l8 col-12 d-flex espc">
                    <h2 class="col-10">Endereço</h2>
                </div>
                <div class="l9 col-12 d-flex espc">
                    <div class="col-2 espl">
                        <label for="exampleFormControlInput1" class="form-label">CEP</label>
                        <input type="text" class="form-control" th:field="*{cep}">
                    </div>
                    <div class="col-7 espl">
                        <label for="exampleFormControlInput1" class="form-label">Logradouro</label>
                        <input type="text" class="form-control" th:field="*{logradouro}">
                    </div>
                    <div class="col-1 espl">
                        <label for="exampleFormControlInput1" class="form-label">Número</label>
                        <input type="text" class="form-control" th:field="*{numero}">
                    </div>
                </div>
                <div class="l10 col-12 d-flex espc">
                    <div class="col-3 espl">
                        <label for="exampleFormControlInput1" class="form-label">Complemento</label>
                        <input type="text" class="form-control" th:field="*{complemento}">
                    </div>
                    <div class="col-3 espl">
                        <label for="exampleFormControlInput1" class="form-label">Bairro</label>
                        <input type="text" class="form-control" th:field="*{bairro}">
                    </div>
                    <div class="col-3 espl">
                        <label for="exampleFormControlInput1" class="form-label">Município</label>
                        <input type="text" class="form-control" th:field="*{municipio}">
                    </div>
                    <div class="col-1 esplp">
                        <label for="exampleFormControlInput1" class="form-label">UF</label>
                        <select class="form-select" th:field="*{uf}">
                            <option value="Acre" th:value="'AC'">AC</option>
                            <option value="Alagoas" th:value="'AL'">AL</option>
                            <option value="Amapa" th:value="'AP'">AP</option>
                            <option value="Amazonas" th:value="'AM'">AM</option>
                            <option value="Bahia" th:value="'BA'">BA</option>
                            <option value="Ceará" th:value="'CE'">CE</option>
                            <option value="Distritofederal" th:value="'DF'">DF</option>
                            <option value="Espiritosanto" th:value="'ES'">ES</option>
                            <option value="Goias" th:value="'GO'">GO</option>
                            <option value="Maranhao" th:value="'MA'">MA</option>
                            <option value="Matogrosso" th:value="'MT'">MT</option>
                            <option value="Matogrossosul" th:value="'MS'">MS</option>
                            <option value="Minasgerais" th:value="'MG'">MG</option>
                            <option value="Para" th:value="'PA'">PA</option>
                            <option value="Paraiba" th:value="'PB'">PB</option>
                            <option value="Parana" th:value="'PR'">PR</option>
                            <option value="Pernambuco" th:value="'PE'">PE</option>
                            <option value="Piai" th:value="'PI'">PI</option>
                            <option value="Riodejaneiro" th:value="'RJ'">RJ</option>
                            <option value="Riograndenorte" th:value="'RN'">RN</option>
                            <option value="Riograndesul" th:value="'RS'">RS</option>
                            <option value="Rondonia" th:value="'RO'">RO</option>
                            <option value="Roraima" th:value="'RR'">RR</option>
                            <option value="Santacatarina" th:value="'SC'">SC</option>
                            <option value="Saopaulo" th:value="'SP'">SP</option>
                            <option value="Sergipe" th:value="'SE'">SE</option>
                            <option value="Tocantins" th:value="'TO'">TO</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
                <div class="l11 col-12 d-flex espc">
                    <button type="button" class="btn btn-light b1">Cancelar</button>
                    <button type="submit" class="btn btn-danger b2">Cadastrar</button>
                </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
<footer th:replace="~{inicio :: footer}"></footer>
    <script type="text/javascript" src="js/validador.js"></script>
</html>